.header {
    padding-top: 14px;
    color: white;
    justify-content: center;
    animation: headerappear 1s ease forwards;
}
.hashtags {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    
}
.hashtags:active {
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) {
    .hashtags > div{
        overflow-x: visible;
        width: 100%;
    }
}