.introduction-header {
    display: none;
}

.linkss {
    padding-top: 14px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.linkss-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Geist";
    color: #FFFFFF;
    font-weight: 500;
    transition: opacity 0.7s;
    animation: headerappear 0.7s ease-in forwards;
    column-gap: 4px;
}
.hover-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Geist";
    color: #FFFFFF;
    font-weight: 500;
    transition: opacity 0.7s;
    column-gap: 4px;
}
.hover-links:hover {
    opacity: 0.5;
}
.hover-links:active {
    opacity: 0.3;
}
.icons {
    height: 25px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
}

.introduction {
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.intro1 {
    flex: 1;
    margin-right: 13px;
}
.intro2 {
    flex: 5;
    margin: 0px 5px 5px 0px;

}
.mypicture {
    margin: 10px 5px 5px 20px;
    height: 120px;
    width: 120px;
    border-radius: 60px;
    object-fit: cover;
    transform: scale(1.1);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(115, 108, 157, 0.5);
} 
.mypicture:hover {
    animation: rotating 3s;
}

.p-intro, .p-intro2, .p-intro3 {
    font-family: "Geist";
    color: #FFFFFF;
    margin: 0;
    padding: 0
}
.p-intro {
    max-width: 350px;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 4px;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    animation: typing 6s steps(23) infinite;
    animation-delay: 200ms;
}
.p-intro2 {
    margin: 7px 0px 20px 0px;
    color: darkgray;
    animation: appear2 2s ease forwards;
}
.fancy-text2 {
    color: white;
    font-weight: 600;
    text-shadow: 0 0 rgb(125, 119, 158);
    transition: all 250ms;
}
.fancy-text2:hover {
    
    text-shadow: 2px 2px 3px rgb(125, 119, 158);
    transform: translate(-2px, -2px);
}
.p-intro3 {
    margin-top: 10px;
    margin-bottom: 0px;
    animation: appear2 2s ease forwards;
}

@media (max-width: 600px) {

    .introduction-header {
        display: block;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .hover-links > p {
        display: none;
    }
    .mypicture {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        object-fit: cover;
        transform: scale(1.1);
        border-style: solid;
        border-width: 3px;
        border-color: (73, 73, 73);
    }
    .introduction {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .intro1 {
        flex: 1;
        margin-bottom: 5px;
    }
    .intro2 {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .p-intro {
        font-size: 25px;
    }
    .intro-below-header {
        display: none;
    }
    .linkss-text > p {
        display: none;
    }

}

.fancy {
    font-weight: 600;
    background-image: linear-gradient(to bottom right, #ffffff, rgba(255, 255, 255, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.md {
    transition: all 200ms;
}
.md:hover {
	text-shadow: 1px 1px 1px #e21833, 1px 1px 1px #ffd200, 0.5px 0.5px 0.5px #ffffff, 0.5px 0.5px 0.5px black;
}